@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #f9fafb;
}
*:not(input):not(textarea) {
  caret-color: transparent !important;
}